/* black:#222831 */
/* grey: #E8E1D9 */
/* dark-grey- #5c5c5c */

*{
    font-family: 'Fira Sans Condensed', sans-serif;
    margin: 0px;
    padding: 0px;
}

.title_area{
    background: #fff;
    padding-bottom: 5%;
    /* height: 80vh;
    width: 100vw; */
}

.nav-link{
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: bold;
}


.shop_name{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
}

.shop_name_title{
    font-family: 'Ubuntu', sans-serif;
    text-transform:lowercase;
    font-style: italic;
    font-size: 1.1em;
    color: #F0C929;
    margin-top: 4%;
}

.row{
    padding-top: 3%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 0%;
}

.catch_phrase{
    font-family: 'Inria Serif', serif;
    margin-right: -0.1em;
    font-size: 5rem;
}

.description_title{
    padding-top: 1.5em;
    font-size: 1.2em;
    line-height: 2em;
}

.title_buttons{
    margin-top: 1em;
}

.title_image{
    position: absolute;
    /* margin-top: %; */
    height: 38rem;
    width: 55%;
    margin-bottom: 2em; 
    margin-left: 17%;
    border: 0.4em solid #E8E1D9 ;

}

@media (min-width: 1750px) {
    .title_image{
        height: 45em;
        width: 28em;
    }
}

@media (max-width:900px) {
    .title_image{
        position: relative;
        margin: 5% 30% 0% 26%;
        height: 29em;
        width: 45%;
    }
}


@media(max-width: 600px) {
    .title_image {
        position: relative;
        height: 95%;
        width: 75%;
        margin: 5% 12%; 
    }
    
    .description_title{
        line-height: 1.5;
    }

    .numbers-info{
        padding-top: 2em ;
    }

    .numbers-info-text{
        margin-top: -4%;
    }
}

.specialities{
    /* margin: -1.5em; */
     margin-top: -2em;
  /*  padding-top: 30rem; */
    height: 80vh;
    background: #222831;
    color: white;
}

/* .img_subtitle{
    display: inline;
} */

.para{
    font-weight: bold;
    color: #5c5c5c;
    font-style: italic;
    padding-top: 4em;
    margin-top: -7%;
    position: relative;
    display: inline-block;
}

.numbers{
    margin-top: -1em;
}

.plus_sign{
    color: #F0C929;
    font-size: 150%;
}

